/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: bismillahFont;
  src: url('assets/BSML.woff') format('woff');
}

@media screen and (max-width: 599px) {
  .bismillah { font-family: bismillahFont; text-align: center; font-size: 5.6vw; line-height: 170%;}
}

@media screen and(min-width: 600px) {
  .bismillah { font-family: bismillahFont; text-align: center; font-size: 1.5rem; line-height: 170%;}
}

.page-number { font-family: 'Courier New', Courier, monospace; font-size: small;}

.word:hover {
  color: #2ca4ab;
}
.hidden, .hidden:hover {
  color: transparent;
}