<div style="padding: 20px;" fxLayout='row' fxLayout.lt-md='column' fxLayoutAlign="center center">
    <button [disabled]="kanan == 561" mat-stroked-button aria-label="Previous Page" (click)="prevPage()">
        <mat-icon>skip_next</mat-icon>
    </button>
    <app-page side="kanan" [rehideEvent]="rehideSubject.asObservable()"></app-page>
    <app-page side="kiri" [rehideEvent]="rehideSubject.asObservable()"></app-page>
    <button [disabled]="kiri == 604" mat-stroked-button aria-label="Next Page" (click)="nextPage()">
        <mat-icon>skip_previous</mat-icon>
    </button>
</div>
<button *ngIf="isOpenPerAyat" mat-stroked-button aria-label="refresh" (click)="rehide()"
    style="margin-right: 20px; margin-bottom: 20px;">
    <mat-icon>refresh</mat-icon>
</button>
<div *ngIf="isOpenPerAyat" fxShow.gt-sm="false" class="mobile-next-word">
    <button mat-stroked-button aria-label="restart" (click)="restartFocus()">
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
    <button mat-stroked-button aria-label="next" (click)="openNextHidden()">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
</div>